# Environment files
# Ignore all env files by default
*.env

# Except sensor env files 
!configs/temperature.env
!configs/humidity.env
!configs/pressure.env
!configs/light.env
!configs/motion.env

microservice-a.log
microservice-b.log